.courses-directions { background: linear-gradient(to bottom, #222 0%, #333 100%); }

.courses-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 40px;

	.courses-card:not(:first-child) { margin-top: 30px; }	
}