.courses-details__subtitle { margin: 10px auto; }
.courses-details__steps {
	margin: 0 auto;
	margin-top: 30px; 
}

.courses-details__inner {

	.courses-details__title-secondary {
		margin-top: 60px;

		font-size: 1.5rem;
		color: rgb(22, 116, 209);	
	}
	
	.courses-details__info { max-width: 650px; }
}