a, 
a:hover, 
a:focus, 
a:active { 
	color: #fff; 
	text-decoration: none; 
	transition: all .4s;
}

a:hover, 
button:hover { cursor: pointer; }

a, 
button,
summary { outline: none; }

.text-lightgrey {color: #999; }
.text-uppercase { text-transform: uppercase; }

.btn-scrollTop {
	position: fixed;
	right: 20px;
   bottom: 20px;
}

// Team section
@keyframes fade {
	0%		{ font-size: .4rem; }
	100% 	{ font-size: 1rem; }
}

// Faq section
@keyframes growFontSize {
	0% { font-size: 0; opacity: 0; }
	100% { font-size: 1rem;	opacity: 0;}
}